.todo {
  &_list {
    @include backgroundGradient($white, $gray);

    &--add-btn {
      display: inline-block;
      text-decoration: none;
      color: $black;
      background-color: rgba($gray, 0.5);
      padding: 1rem 2rem;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }

    &--item {
      display: flex;
      align-items: center;
      padding: 1rem;
    }

    &--item:not(:last-child) {
      margin-bottom: 3rem;
    }

    &--edit-btn {
      display: flex;
      padding: 1rem;
    }

    &--edit-btn:hover {
      background-color: rgba($gray, 0.1);
      border-radius: 50%;
    }

    &--edit-btn,
    &--edit-btn:hover {
      color: rgba($black, 0.54);
    }
  }
  &_add {
    &--text {
      label {
        font-size: $font-size-small;
      }
      input {
        font-size: $font-size-normal;
      }
      p {
        font-size: $font-size-small;
      }
    }
  }
}
