// color
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green-light: rgb(69, 236, 116);
$green-dark: rgb(6, 85, 29);
$purple: rgb(121, 19, 255);
$purple-light: rgb(190, 200, 255);

// font size
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.6rem;
